@using boxify.Data.ModelsDb
@model Ad

<h2>@Model.Name</h2>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImgUrl">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price.ToString("c")</h3>
        <ul>
            <h5>Contact us:</h5>
            <li>Phone: @Model.PhoneNumber</li>
            <li>Email: @Model.Name</li>
        </ul>
        <ul>
            <li>Info: @Model.Description</li>
            <li>Valid until: @Model.DateTo.ToString("d")</li>
        </ul>

    </div>
</div>