@using boxify.Data.ModelsDb
@model Ad
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Model.ImgUrl" alt="">
            <div class="caption">
                <h6 class="pull-right">@Model.Price.ToString("c")</h6>
                <h5>
                    <a asp-controller="Ad"
                       asp-action="Details"
                       asp-route-id="@Model.Id">@Model.Name</a>
                </h5>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>